/* @theme itp */

@import 'gaia'; 

h1, h2, h3, h4, h5, h6 {
  color: #990000;
  font-family: 'Adobe Caslon Pro', Cambria, Georgia, serif;
  text-transform: capitalize; 
}
td {
  background: rgba(0, 0, 0, 0);
}
