<p class="subtitle">
	<a href="{{ site.baseurl }}"> {{ site.courseName }} </a> </p>
<nav>
	<ul>
		{% assign pages = (site.pages | sort: "menuPosition") %}
		{% for node in pages %}
		{% if page.url == node.url %}
		<li class="active"><a href="{{ site.baseurl }}{{node.url}}" class="active">{{node.menuItem}}</a></li>
		{% else %}
		<li><a href="{{ site.baseurl }}{{node.url}}">{{node.menuItem}}</a></li>
		{% endif %}
		{% endfor %}
		<li><a href="https://github.com/reparke/ITP348-Physical-Computing/tree/master/_exercises">Exercises</a></li>
		<li><a href="{{ site.gradingUrl}}">Blackboard</a></li>
	</ul>
</nav>